.btn-edit {
  position: absolute;
  right: 20px;
  top: 75px;
}
.btn-edit a {
  padding: 0.5em 4em;
  text-decoration: none;
  display: block;
  background: rgba(233, 233, 233, 0.315);
  border: 1px solid rgba(175, 175, 175, 0.24);
  border-radius: 5px;
  color: rgb(105, 173, 200);
}
