.editor-page {
}
.editor-container {
  flex: 1.1;
  overflow-y: auto;
}
.editor-previewer {
  flex: 1;
  overflow: auto;
  word-wrap: break-word;
  padding: 0 10px;
}
.editor-and-previewer {
  display: flex;
  width: 100%;
  height: calc(100vh - 64px);
  margin-top: 64px;
}
.CodeMirror {
  width: auto;
  cursor: text;
  font-size: 16px;
  height: auto;
  padding-left: 16px;
}
.CodeMirror-scroll {
  overflow: unset !important;
}
.tool-wall {
  background-color: rgb(197, 197, 197);
  z-index: 1;

  width: 36px;
  height: 100%;
}
.tool-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 100px 0;
  color: #a58d04;
  height: calc(100% - 200px);
}
.tool-box-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tool-box-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .editor-page {
    margin: 0 0 0 18%;
  }
}
.editor-loading-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #fff;
  display: table;
  transition: opacity 0.3s ease;
}
.editor-loading-wrapper {
  display: table-cell;
  vertical-align: middle;
  transform: translateY(-50px);
}
.editor-loading-box {
  text-align: center;
}
.editor-float-pane {
  margin: 8px 16px;
  border-left: 3px solid #00bcd5;
  padding: 10px 20px;
  width: auto;
}
.editor-abstract {
  border-radius: 6px;
  width: 100%;
  background: #f7f8f9;
}