.book-pinned {
  width: 340px;
  height: 125px;
  margin: 10px 20px;
  border: 1px solid rgba(39, 40, 34, 0.87);
  border-radius: 5px;
  position: relative;
  background: none;
  flex: 1 0 auto;
}
@media (min-width: 768px) {
  .book-pinned {
    flex: 0 0 auto;
  }
}
.book-pinned-actived {
}
.book-pinned-content {
  position: absolute;
  top: 15px;
  right: 12px;
  bottom: 15px;
  left: 12px;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.book-pinned-title {
  margin-bottom: 4px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: block;
  width: fit-content;
  color: #00bcd5;
  text-decoration: none;
}
.book-pinned-post-date {
  font-size: 11px;
  color: #6c757d;
  margin-bottom: 8px;
}
.book-pinned-description {
  font-size: 12px;
  margin-right: 88px;
  word-wrap: break-word;
  overflow: hidden;
  overflow-wrap: break-word;
}
.book-pinned-cover {
  position: absolute;
  width: 70px;
  height: 90px;
  top: 15px;
  right: 12px;
}
.book-pinned-toolbar {
  position: absolute;
  right: 0;
  top: 0;
  height: 32px;
  background-color: rgba(108, 117, 125, 0.2);
  opacity: 0;
  display: flex;
  align-items: center;
}
.book-pinned-toolbar button {
  display: inline;
  padding: 0;
  background: none;
  border: none;
}
.book-pinned-toolbar button:hover {
  color: #007bff;
}
.book-pinned:hover .book-pinned-toolbar {
  opacity: 1;
}
