@keyframes blink-rect {
  0% {
    background-color: rgba(214, 214, 214, 0.6);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
@keyframes blink-circle {
  0% {
    background-color: rgba(255, 255, 255, 0.9);
  }
  100% {
    background-color: rgba(214, 214, 214, 0.6);
  }
}
.title-avatar-loading {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  animation: 0.6s ease-in-out 0s infinite alternate-reverse blink-circle;
}
.title-loading {
  display: inline-block;
  width: 100px;
  height: 24px;
  border-radius: 4px;
  margin-left: 10px;
  animation: 0.6s ease-in-out 0s infinite alternate-reverse blink-rect;
}
.bar-title a {
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  font-family: monospace;
}
@media (min-width: 768px) {
  .bar-title {
    margin: 0 auto;
  }
}
